html,#root,#App{
  height: 100vh;
}

#App {
  text-align: center;
}
.clearfix{
  content: "";
  clear: both;
  display: block;
}

.container,.auth-left,.auth-right{
  overflow: hidden;
  height: 100%;
}


.auth-left{
  color: white;
  float: left;
  background: rgb(0,27,36);
  background: linear-gradient(42deg, rgba(0,27,36,1) 0%, rgba(9,121,73,1) 50%, rgba(0,27,36,1) 100%);
}
.auth-left img{
  height: 190px;
}

.auth-left div{
  height: 50%;
  width: 100%;

  justify-content: center;
  margin: auto;
  display: flex;
}

.auth-left div:first-child{
  align-items: flex-end;
}
.auth-left div:last-child{
  justify-content: start;
  margin-top: 10%;
  flex-direction: column;
}

.auth-left,.auth-right{
  width: 50%;
}
.auth-right{
  float: right;
  margin-top: 5%;
}

#login-header-container {
  font-size: 15px;
}
#login-header-container{
  color: grey;
}

#login-form-container{
  margin-top: 10%;
}
#login-form-container form{
  padding: 0px 20%;
}
#login-form-container button{
  width: 100%;
}


#login-form-container form>div{
  margin-bottom: 15px;
  width: 100%;
}

#login-form-container>div{
  margin-top: 12px;
  padding: 0 20%;
}
#login-form-container>div div{
  display: flex;
    justify-content: center;
}
#login-form-container>div div p{
  margin: 0;
}
#login-form-container a{
  margin-left: 5px;
  text-decoration: none;
}


@media only screen and (max-width: 380px)  {
  #login-form-container>div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

nav>div:first-child{
  float: left;
}
nav>div:last-child{
  float: right;
}
.dropdown{
  height: 30px;
}
.dropdown a{
  height: inherit;
  color: black;
  border: none;
  background: none;
}
.dropdown a p{
  display: inline;
}

.btn-secondary:hover{
  background: none;
  color: black;
}
.dropdown-menu.show{
  left: -20px;
}
.pagination{
  justify-content: center;
}

.alert{
  height: auto;
  width: fit-content;
  margin-top: 20px;
}
#dashboard-container{
  margin-top: 30px;
}

table   .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl{
  height: 35px;
  margin-top: 15px;
}
td .btn-sm{
  margin-right: 5px;
}

#dashboard-container{
  overflow: unset;
}

@media only screen and (max-width: 740px)  {

  .userName{
    font-size: 19px;
  }

  #login-container{
    display: flex;
    overflow: scroll;
    flex-direction: column;
  }
  #login-container>div{
    width: 100%;
  }
  .auth-left{
    flex: 1;
  }
  .auth-left img {
    height: 130px;
  }
  .auth-left>div{
    height:100%;
  }
  .auth-right{
    flex: 3;
  }

  #login-form-container form {
    padding: 0px 15%;
  }

  .auth-left div:last-child{
    display: none;
  }
  #login-header-container,h2,p {
    font-size: 14px;
  }
  #login-form-container{
    margin-top: 0;
  }

  #outlined-basic-label{
    top: -9px;
  }



  #dashboard-container table thead{
    display: none;
  }

  #dashboard-container table tr{
    display: flex;
    flex-flow: wrap;
    width: inherit;
    position: relative;
    font-size: 20px;
  }

  #dashboard-container table tr td{
    border: none;
  }   
  #dashboard-container table tr th{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: none;
    height: 100%;
  }   

  #dashboard-container table th:first-child{
    width: 25%;
    order: 1;
    position: absolute;
  }
  #dashboard-container .MuiAvatar-root.MuiAvatar-circle{
      width: 65px;
      height: auto;
  }
  #dashboard-container table td:nth-child(2){
    width: 50%;
    text-align: end;
    order: 2;
  }
  #dashboard-container table td:nth-child(3){
    width: 25%;
    text-align: start;
    padding-left: 0;
    order: 3;
  }
  #dashboard-container table td:nth-child(4){
    width: 100%;
    order: 5;
    padding-left: 55px;
  }
  #dashboard-container table td:nth-child(5){
    width: 25%;
    order: 4;
  }

  .tbl-edt-fName,.tbl-edt-lName,.tbl-edt-email{
    width: 100% !important;
    text-align: end !important;
  }
  .tbl-edt-email{
    order: 4 !important;
  }
  .tbl-edt-act{
    text-align: end;
    order: 5 !important;
    width: 100% !important;
  }


}

.errorMessage{
  background: #ffadad;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin: 0px 20%;
  height: 30px;
  text-transform: capitalize;
  margin-bottom: 15px;
}


@media (max-width: 350px){
  html{
    position: fixed;
    width: 100vw;
  }
    nav{
      display: flex !important;
      flex-direction: column !important;
    }
    #dashboard-container table tr{
      font-size: 12px !important;
    }
}
@media (min-width: 576px){
  .container{
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 740px){
  .container{
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
  }
  body{
    letter-spacing: 2px;
    /* font-size: 35px; */
  }
}
@media  (min-width: 740px){
  .container{
    font-size: 1.5rem;     
  }

  #login-container h1,a,h2,p{
    font-size: 1rem;
  }

  #dashboard-container{
    padding: 0 5% !important;
  }
}
@media (min-width: 768px){

  .container{
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}
@media (min-width: 992px){
  .container{
    padding: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}
